@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    /* background-color: black; */
    background-repeat: no-repeat;

}

#shape {
    font-family: "Allura", cursive;
    font-size: 7rem;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
}

#sec-1,#sec-4 {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
}

#sec-2 {
    max-width: 1140px;
    margin: 0 auto;
}
#sec-5{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
/* main {
    max-width: 1140px;
    margin: 0 auto;
    
  } */

/* main > section {
    margin-top: 100px;
} */

/* Shared style */
.display-flex {
    display: flex;
}
.menu-icon {
    color: white;
    display: none;
}
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 54px;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    padding: 16px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 42px;
    gap: 8px;
}

.btn-primary1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    padding: 16px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 42px;
    gap: 8px;
}

header {
    background: linear-gradient(180deg, rgba(17, 17, 17), rgba(119, 119, 119, 0.015));
    background-color: black;
}

main {
    background-color: black;
}

/* nav bar style */
.navbar {
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    margin-right: 47px;

}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;

}

.nav-border {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    padding-left: 3px;
    border-radius: 39px;


}

.fitness {
    color: rgba(255, 84, 0, 1);
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: rgba(230, 83, 60, 1);
    padding: 12px 30px;
    border-radius: 46px;
    color: white;
}

/* banner style */
.banner-content h1 {
    color: white;
    font-size: 5.4rem;
    line-height: 6rem;
    margin-bottom: 28px;
    font-weight: 800;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.banner-btn {
    display: flex;
    gap: 14px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

/* .banner-img{
    background-image: url("../images/Images\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 350px;
} */


#vdo1 {
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 206px;
    padding: 24px 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    margin-top: -163px;
    margin-left: -120px;
}

#vdo2 {
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 180px;
    padding: 24px 0;
    border-radius: 12px;
    margin-top: -470px;
    margin-left: 230px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    position: absolute;
    padding-left: 24px;
}

#vdo {

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* position: absolute; */

}

#vdo #no {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}

#vdo #video {
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}

#icon {
    color: white;
    padding: 15px;
    border-radius: 100%;
    background-color: rgba(230, 83, 60, 1);
}



#vdo3 #no {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}

#vdo3 #video {
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}

/* change your habits section style */
.habit-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.habit-content h2 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}

.habit-content p {
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
    text-align: center;
}

.main-habit-img-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 58px;
}

.habit-img-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.habit-img-content img {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
}

.habit-img-content h4 {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    margin-top: 30px;
    margin-bottom: 6px;
}

.habit-img-content p {
    font-size: 0.875rem;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* run an extra mile easily section style */
.run {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 165px;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1);
}

.run-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.run-content h2 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}

.run-content p {
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}

.run-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: scale(-1.5); */
}

.run-img img {
    width: 366px;
    height: 316px;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 28%;
}
/* Package section style */
.packages-content h2{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
    text-align: center;
}
.packages-content p{
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 58px;
    text-align: center;
}
#fit{
    color: rgba(230, 83, 60, 1);
}
.Package-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
    border-radius: 18px;
}
.Package-container-img img{
    border-radius: 18px;
    width: 100%;
    height: 600px
}

.packages h3{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.packages h4{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.packages h5{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.packages i{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    font-size: 1rem;
}
.packages p{
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.btnp1{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}
.btn-primary1:hover{
    background-color: rgba(230, 83, 60, 1);
}
.btnp{
    width: 100px;
    height: 15px;
    border: none;
    border-radius: 15px;
    
}
.btn{
    display: flex;
    justify-content: center;
}



/* BMI cal section style */
#sec-3 {
    background-color: rgba(34, 34, 34, 1);
    margin-top: 100px;
}

.bmi{
    max-width: 1140px;
    margin: 0 auto;
    padding: 52px 0;
    display: grid;
    grid-template-columns: .85fr 1.15fr;
}
.bmi-table h3{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    /* margin-bottom: 14px; */
}
table{
    border-collapse: collapse;
    margin: 35px 0;
    text-align: left;
}
th{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
td{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
th, td{
    padding: 15px 18px;
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-form h3{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}
.bmi-form p{
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}
#field-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 12px;
}
#field-2{
    display: grid;
    grid-template-columns: 2fr;
}
input,select,option{
    padding:  13px 0 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
   
}
.select-ang{
    border-right: 20px solid transparent;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.btn-cal{
    margin-top: 34px;
}
/* Meet our team section style */
#sec-4{
    padding-bottom: 100px;
}
.team-container h2{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
    text-align: center;
}
.team-container p{
    font-size: 0.875rem;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.team-img-container{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    border-radius: 18px;
}
.row1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.row1 img{
    width: 100%;
    height: 300px;
    border-radius: 18px;
    filter: brightness(60%);
}
.team-card{
    position: relative;
}
.team-card-des{
    position: absolute;
    top: 87%;
    left: 10%; 
    color: white;
    transform: translate(-20px, -20px);
}
.team-card-des h5{
    font-size: 1.25rem;
    font-weight: 900;
}
.team-card-des p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.row2{
    margin-top: 20px;
}
/* Footer section style */
#footer{
    background-color: rgba(34, 34, 34, 1);
    
}
.footer-container{
    max-width: 1140px;
    margin: 0 auto;
}
.footer-container-content{ 
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}
.col-1 h1{
    font-size: 4.375rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
    margin-bottom: 20px;
}
.col-1 p{
    font-size: .875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.col-2 h3{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}
.col-2 h5{
    font-size: 1.4375rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
hr{
    max-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.all-right{
    padding: 35px 0;
}
.all-right p{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* media query */
@media screen and (max-width: 576px) {
    * {
        padding: 0;
        margin: 0;
    }

    .navbar {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
    }

    header {
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(17, 17, 17, 1) 100%, rgba(119, 119, 119, 0) 0%);
    }

    .banner-btn {
        width: 100%;
        justify-content: start;
        margin-bottom: 48px;
        gap: 14px;
    }

    .btn-primary,
    .btn-primary1 {
        width: 180px;
        height: 50px;
    }

    .nav-border {
        display: none;
    }

    .menu-icon {
        color: white;
        display: flex;
    }

    .banner-content h1 {
        font-size: 2.25rem;
        line-height: 120%;
    }

    #shape {
        font-size: 3.25rem;
    }

    .banner {
        flex-direction: column;
        /* border: 1px solid white; */
        /* padding: 0 20px; */
        margin: 0 20px;
    }

    /* .banner-content{
        padding: 0 200px;
    } */
    #vdo2 {
        position: absolute;
        margin-top: -570px;
        margin-left: 190px;
        width: 130px;
        height: 50px;
    }

    #vdo1 {
        position: absolute;
        margin-top: -270px;
        margin-left: -0px;
        width: 180px;
        height: 40px;
    }

    #vdo #no {
        font-size: 1.133rem;
    }

    #vdo #video {
        font-size: 0.75rem;
    }

    #vdo3 #no {
        font-size: 1.875rem;
    }

    #vdo3 #video {
        font-size: 0.62rem;
    }

    .main-habit-img-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .run {
        flex-direction: column;
        gap: 31px;
        margin: 60px 20px;
    }

    #sec-1 {
        margin-top: 0;
    }

    .habit-content h2 {
        font-size: 2rem;
        text-align: center;
    }

    .habit-content {
        margin-bottom: 58px;
    }

    .habit-content p {
        text-align: center;
    }

    .habit-img-content {
        text-align: center;
        padding: 0 60px;
    }

    .run-content h2 {
        font-size: 2rem;
        line-height: 120%;
    }

    .run-img img {
        width: 100%;
        height: 170px;
    }

    .run {
        padding: 33px;
    }

    .run .btn-primary {
        width: 100%;
    }
    .bmi{
        margin: 0 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    #field-1{
        display: grid;
        grid-template-columns: .5fr .5fr;
    }
    .team-container h2{
        font-size: 2rem;
        text-align: center;
    }
    .team-container p{
        font-size: 0.875rem;
        line-height: 18px;
        text-align: center;
    }
    .team-img-container{
        margin: 0 20px;
        margin-top: 35px;
    }
    .row1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .team-card img{
        width: 100%;
    }
    .footer-container{
        padding: 0 20px;
    }
    .footer-container-content{
        display: grid;
        gap: 25px;
    }
    #sec-5{
        margin: 0 20px;
    }
    .packages-content h2{
        font-size: 2rem;
        text-align: center;
    }
    .Package-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .btnp{
        width: 100px;
        height: 15px;
        border: none;
        border-radius: 15px;
        
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    .btnp1{
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
    }
    .packages{
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 40px 20px;
        border-radius: 18px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}